@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap");
body {
  margin: 0;
}
* {
  font-family: "Poppins", sans-serif;
}
.container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#quote {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-bottom-width: 5px !important;
}
