$editor-color: #f5f9fc;
$editor-bar: #eff3f8;
.editor {
  min-height: 100px;
  background: $editor-color;
  flex-basis: 50%;
}
code {
  font-size: 1em;
  background: $editor-color !important;
}

.editor-bar {
  background: $editor-bar;
  padding: 10px;
  font-weight: bold;
}

.editor-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
